.drop_down {
	position: relative;
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 32px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.drop_down > .option:hover {
	background-color: #fff;
}

.drop_down__open {
	border-bottom: 1px solid transparent;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.drop_down__open.drop_down__inverse {
	border-top: 1px solid transparent;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom: none;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.drop_down__open.drop_down__inverse .container {
	bottom: 100%;
	/* border: 1px solid #ccc; */
	top: auto;
	border-top: 1px solid #ccc;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.drop_down__open.drop_down__inverse .container__show {
	box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.075), 4px -4px 5px rgba(0, 0, 0, 0.075);
	padding-bottom: 0;
	padding-top: 5px;
}

.drop_down.big {
	width: 220px;
}

.drop_down.medium {
	width: 180px;
}

.drop_down.small {
	width: 120px;
}

.arrow {
	width: 24px;
	height: 24px;
	transition: transform 0.3s;
}

.arrow__open {
	transform: rotate(180deg);
}

.container {
	position: absolute;
	display: none;
	top: 100%;
	width: 100%;
	left: -1px;
	background: #ffffff;
	z-index: 50;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.container__show {
	display: block;
	box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.075), 4px 4px 5px rgba(0, 0, 0, 0.075);
	padding-bottom: 5px;
}

.option {
	padding: 0 5px;
	display: flex;
}

.option:hover {
	background-color: #ccc;
}

.option__current {
	background-color: #eee;
}

.option__icon {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

@media (max-width: 480px) {
	.drop_down {
		width: auto !important;
	}

	.option__caption {
		display: none;
	}

	.option__icon {
		margin-right: 0;
	}

	.option {
		padding: 0 2px;
		margin: auto;
		justify-content: center;
	}
}
